<div>
  <mat-dialog-content>
    <div>
      <label>Mr:</label><input type="text" [(ngModel)]="mr">
    </div>
    <div>
      <label>Name:</label><input type="text" [(ngModel)]="name">
    </div>
    <div>
      <label>Provider:</label><input type="text" [(ngModel)]="provider">
    </div>
    <div>
        <label>Order</label>
        <select name="options" [(ngModel)]="order">
          <option value="asc">ASC</option>
          <option value="dsc">DSC</option>
        </select>

    </div>
    <div>
        <label>Order By:</label>
        <select name="options" [(ngModel)]="orderby">
          <option value="name">Name</option>
          <option value="id">ID</option>
        </select>
    </div>
    <div>
        <label>Limit:</label><input type="text" [(ngModel)]="limit">
      </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <div>
      <button (click)="resetVals()">Reset</button>
      <button (click)="search()">Search</button>
      <button (click)="cancel()">Cancel</button>
    </div>
  </mat-dialog-actions>
</div>